.loading-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-3);
  opacity: 0.7;
  text-align: center;
  color: black;
  z-index: 100;
}
