.alert {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
}

.red {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.green {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
